.navbar {
  display: flex;
  align-items: center;
  
  background: #DADADA;
  color: black;
  font-family: 'inherit';
  font-weight: 600;
  justify-content: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #1F2937;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    color: #000;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    font-family: 'inherit';
    align-items: center;
    padding: 8px 0px 8px -10px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-family: 'inherit';
    font-size: 15px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2px;
    border-radius: 5px;
  }
  
  .nav-text a:hover {
    background-color: #000000;
    height: 40px;
    padding: 0 10px;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #1F2937;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  .navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1F2937;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}